@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light dark;
  }
  
  body {
    @apply min-h-screen flex items-center justify-center min-w-[320px] m-0;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
