#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@import "tailwindcss";
  
@theme {
  --animate-in: in 0.2s ease-in-out;
  @keyframes in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-out: out 0.3s ease-in-out;
  @keyframes out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 0.5rem;
  width: 100%;
  max-width: 1000px;
  min-height: 0; 
  box-sizing: border-box;
 
}
